.footer_bottom {
  position: relative; /* Using this only for background image */
  overflow: hidden;

  background-color: var(--color-orange-400);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-800) 0;
  h2 {
    color: white;
    max-width: 20ch;
  }
  & .text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    max-width: 1110px;
  }
}

@media (max-width: 1024px) {
  .footer_bottom {
    padding: var(--space-500) 0;
  }

  .text-container {
    flex-direction: column;
    gap: var(--space-500);
    text-align: center;
    justify-content: center;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-950);
  padding: var(--space-800) 0;

  & .footer_container {
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 1110px;
    gap: var(--space-500);
  }
}

.logo_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .icons {
    display: flex;
    gap: 16px;
    
    & img {
      flex: 1;
      max-width: 32px;
    }
  }

  & > img {
    filter: brightness(0) invert(1);
    width: 146px;
    height: 24px;
    margin-inline: auto;
  }
}

.footer_container .link_container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  gap: var(--space-200);
  color: white;

  & .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-auto-flow: column;
    gap: var(--space-100);
    width: 100%;
  }
}

.newsletter_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .input_container {
    display: flex;
    gap: var(--space-100);

    & input {
      padding: 8px 16px;
      border-radius: 22px;
      border: 1px solid var(--color-gray-400);
      background-color: white;
      flex: 1;
    }

    & button {
      border-radius: 22px;
      background-color: var(--color-orange-400);
      width: 64px;
      height: 44px;
      text-align: center;
    }
  }

  .copyright {
    opacity: 50.25%;
    text-align: end;
  }
}

.logo_container .copyright {
  display: none;
}

@media (max-width: 1024px) {
  .footer_container .link_container .links {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  footer .footer_container {
    flex-direction: column-reverse;
    width: 60%;
    gap: var(--space-800);
  }

  .footer_container .link_container {
    flex-direction: column-reverse;
    width: 100%;
    gap: var(--space-800);
  }

  .logo_container {
    flex-direction: column-reverse;
    width: 60%;
    margin-inline: auto;
    gap: var(--space-800);
  }

  .newsletter_container .copyright {
    display: none;
  }

  .logo_container .copyright {
    display: block;
    text-align: center;
    opacity: 50.25%;
    color: white;
  }

  .logo_container .icons {
    gap: var(--space-400);
  }
}

@media (max-width: 600px) {
  .footer_container .link_container .links {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    grid-template-rows: repeat(4, min-content);
    width: 80%;
    margin-inline: auto;
  }

  footer .footer_container {
    width: 90%;
    gap: var(--space-600);
  }

  .footer_container .link_container {
    gap: var(--space-600);
  }
  
  .logo_container {
    width: 90%;
  }
}
