.footer_bottom {
  background-color: var(--color-orange-400);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  h2 {
    color: white;
  }
  & .text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1114px;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-950);
  height: 250px;

  & .footer_container {
    width: 1110px;
    display: flex;
    justify-content: space-between;
    height: 128px;
  }
}

.logo_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .icons {
    display: flex;
    gap: 16px;
  }

  & > img {
    filter: brightness(0) invert(1);
  }
}

.footer_container .link_container {
  display: flex;
  justify-content: space-between;
  width: 830px;
  gap: 16px;
  color: white;

  & .links {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-wrap: wrap;
    width: 100%;
  }
}

.newsletter_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & .input_container {
    display: flex;
    gap: 8px;

    & input {
      padding: 8px 16px;
      border-radius: 22px;
      border: 1px solid var(--color-gray-400);
      background-color: white;
      height: 44px;
    }

    & button {
      border-radius: 22px;
      background-color: var(--color-orange-400);
      width: 64px;
      height: 44px;
      text-align: center;
    }
  }

  & copyright {
    opacity: 50.25%;
    text-align: end;
  }
}