.bg-pattern {
  /* If rotation moves it too far, adjust the origin */
  transform-origin: center;

  /* 👇 Safety check: ensures clicks pass through to the content behind it */
  pointer-events: none;
  max-width: unset;
}

.image-1 {
  position: absolute;
  top: -73%;
  z-index: -1;
  right: -56%;
}

.image-2 {
  position: absolute;
  opacity: 100%;
}

.image-3 {
  position: absolute;
  z-index: -1;
  top: 105%;
  left: -164%;
}

@media (max-width: 728px) {
  .image-1 {
    height: 500px;
    width: 500px;
  }

  .image-2 {
    left: -72%;
  }
}

@media (max-width: 1023px) {
  .image-3 {
    position: absolute;
    height: 400px;
    width: 400px;
    z-index: -1;
    top: -170%;
    left: 89%;
  }
}
