.bg-pattern {
  /* If rotation moves it too far, adjust the origin */
  transform-origin: center;
  
  /* 👇 Safety check: ensures clicks pass through to the content behind it */
  pointer-events: none;
  max-width: unset;
}

.image-1 {
  position: absolute;
  top: -73%;
  z-index: -1;
  right: -56%;
}

.image-2 {
  position: absolute;
  opacity: 100%;
}

@media (max-width: 728px) {
  .image-1 {
    height: 500px;
    width: 500px;
  }

  .image-2 {
    left: 0%;
  }
}
