.testimonials {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-600);
} 

.testimonials_container {
  display: flex;
  flex-direction: column;
  gap: var(--space-800);
  align-items: center;
}

.testimonials_list {
  display: flex;
  gap: var(--space-300);
}

.testimonials_list > .list-item {
  display: flex;
  flex-direction: column;
  padding: 0 var(--space-500);
  gap: var(--space-300);
  align-items: center;
  background: linear-gradient(
    to bottom,                     /* The direction of the gradient */
    white 36px,                    /* Color 1: white, from the top (0) down to 36px */
    var(--color-gray-50) 36px      /* Color 2: gray, starting at 36px to the bottom */
  );
  width: 560px;
  height: 256px; 
}

.testimonials_list > .list-item > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--space-200);
}